---
import type { AnalystTake } from '../data/types';
const { take } = Astro.props as { take: AnalystTake };
const initial = take.analyst.slice(0, 1);
---
<article class="analyst">
  <div class="by">
    <div class="avatar">{initial}</div>
    <span class="name">{take.analyst}</span>
    <span class="angle">{take.angle}</span>
  </div>
  <p><slot>{take.quote}</slot></p>
  <div class="src">{take.sourceDate}</div>
</article>
